<footer class="bg-dark text-white text-center p-3 mt-4">
  <p>&copy; 2025 Albin Sathish. All rights reserved.</p>
  <p>Connect with me on 
    <a href="https://github.com/albi-3" class="text-light">GitHub</a> | 
    <a href="https://www.linkedin.com/in/albin-sathish-4b411a2b3/" class="text-light">LinkedIn</a>
  </p>
</footer>
