<h1 class="text-center mt-4">Register</h1>
<div class="container mt-4">
  {{#if errors}}
    <ul class="alert alert-danger">
      {{#each errors}}<li>{{this.msg}}</li>{{/each}}
    </ul>
  {{/if}}

  <form action="/auth/register" method="POST">
    <div class="mb-3">
      <label>Username</label>
      <input type="text" name="username" class="form-control" value="{{username}}" required>
    </div>
    <div class="mb-3">
      <label>Password</label>
      <input type="password" name="password" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Confirm Password</label>
      <input type="password" name="password2" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Register</button>
    <a href="/auth/login" class="btn btn-link">Already have an account? Login</a>
  </form>
</div>
